# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src copy
/src/components/test
.env
.env.local

/src/components/stripe/PaymentForm-dev
/src/components/stripe/SubscriptionPlan-dev
frontend/src/components/stripe/SubscriptionPlan-dev.jsx